<style>

	div.person{
		width: 280px;
		height: 50px;
		background: #dddddd;
		margin: 5px 10px;
		padding: 5px;
		border-radius: 10px;
		transition: margin-left 0.5s;
	}

		div.person:hover{
			background: #78aded;
			margin-left: 20px;
		}

		img.icon{
			width: 50px;
			height: 50px;
			float: left;
		}

	h2.name{
		font-family: "Regan Slab", Fallback, "Verdana";
		font-size: 20px;
		width: 210px;
		height: 30px;
		line-height: 25px;
		margin: 0 10px;
		float: left;
		text-overflow: ellipsis;
	}

	p.time{
		font-family: "Verdana";
		font-size: 15px;
		width: 210px;
		height: 20px;
		line-height: 20px;
		margin: 0 10px;
		float: left;
		text-overflow: ellipsis;
	}

</style>

<h1>Select a Classmate to Awaken</h1>

	<script>

		var tray = document.getElementById('tray');

		var animals = ["armadillo","bat","hippo","sloth","koala","panda","squirrel"];

		function toWord(string){
			var word = string.charAt(0).toUpperCase() + string.substr(1);
			return word;
		}

		function addPerson(hall, time){

			var index = Math.floor(Math.random() * (animals.length));

			var code = Math.floor(Math.random() * (9999 - 1000)) + 1000;
			var person = '';
				person += '<div class="person">'
					person += '<img class="icon" src="icon/' + animals[index] + '.png">'
					person += '<h2 class="name">' + toWord(animals[index]) + ' ' + code + ' (' + hall + ')</h2>'
					person += '<p class="time">' + time + '</p>'
				person += '</div>'

			tray.innerHTML += person;
		}

		addPerson("1505","7:30 AM to 8:00 AM");
		addPerson("1506","6:30 AM to 8:30 AM");
		addPerson("1505","7:30 AM to 8:00 AM");
		addPerson("1506","6:30 AM to 8:30 AM");
		addPerson("1505","7:30 AM to 8:00 AM");
		addPerson("1506","6:30 AM to 8:30 AM");

	</script>

	<div id="tray">

	</div>

<button onclick='loadView("main")'>Go Back</button>
