<h2>This is the request view</h2>

<button onclick='signup()'>SIGN UP</button>

<button onclick='loadView("main")'>Go back</button>

<script>
	function signup() {
		var postData = {
			'earliestWakeTime': Date.today().setTimeToNow().add({ hours: 2}),
			'latestWakeTime': Date.today().setTimeToNow().add({ hours: 4}),
			'hall': '1505',
			'wing': 'B',
			'name': 'Vinesh Kannan',
			'message': 'u want sum fuk bby'
		};
		$.post('/request/new', postData)
			.done(function() {
				alert('success');
			})
			.fail(function(error) {
				console.log(error);
				alert('error! see console');
			});
	}
</script>