<style>

	select#hall{
		width: 160px;
		float: left;
	}

	select#wing{
		margin-left: 10px;
		margin-right: 0;
		width: 100px;
	}

	h2.timeTitle{
		height: 35px;
		line-height: 25px;
		float: left;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 10px;
	}

	div.formItem{
		width: 100%;
	}

	div#review{
		background-color: #124889;
		width: 270px;
		padding: 10px;
		margin: 10px 0;
		color: white;
		font-family: "Verdana";
		font-size: 15px;
		line-height: 25px;
	}

</style>

<h1>Request a Wake Up Call</h1>

<div id="formField">

	<div class="formItem">
		<h2>Student Information</h2>
		<input type="text" class="entry" placeholder="name" id="name">
			<select id="hall">
				<option>1501</option>
				<option>1502</option>
				<option>1503</option>
				<option>1504</option>
				<option>1505</option>
				<option>1506</option>
				<option>1507</option>
			</select>
			<select id="wing">
				<option>A</option>
				<option>B</option>
				<option>C</option>
				<option>D</option>
			</select>
	</div>

	<div class="formItem">
		<h2>Wake Up Time Range</h2>
		<div style="width: 100%;clear: right;">
			<h2 class="timeTitle">Earliest:</h2>
			<input type="time" class="entry" placeholder="earliest" style="width: 170px; clear: right;" id="start">
		</div>
		<div style="width: 100%;">
			<h2 class="timeTitle" style="margin-left: -88px;">Latest:</h2>
			<input type="time" class="entry" placeholder="latest" style="width: 170px; clear: right;" id="end">
		</div>
	</div>

	<div class="formItem">
		<h2>Special Requests</h2>
		<p>
			If you would like to be woken up in a special way, like with a song or a joke, please indicate so here!
		</p>
		<textarea id="request"></textarea>
	</div>

	<div id="review" style="display: none;"></div>

</div>

<audio autoplay></audio>

	<script>

		var name;
		var hall;
		var wing;
		var start;
		var end;
		var request;

		function confirmRequest(){
			name = document.getElementById('name').value;
			hall = document.getElementById('hall').value;
			wing = document.getElementById('wing').value;
			//NOTE THAT THESE TIME VALUES WILL NOT RETURnAM AND PM - INSTEAD, WILL RETURN MILITARY CLOCK
			start = document.getElementById('start').value;
			end = document.getElementById('end').value
			request = document.getElementById('request').value;

			if(request==''){
				request = 'None.';
			}

			var review = name + ' from ' + hall + wing + '.';
				review += '<br>Earliest Wake Up Time: ' + start;
				review += '<br>Latest Wake Up Time: ' + end;
				review += '<br>Special Request: ' + request;
				review += '<br>If satisfied, click the green button to submit! If not, click the red button to edit.';

			setStorage(review);

			var formField = document.getElementById('formField');
			for(var i = 0; i < 3; i++){
				document.getElementsByClassName('formItem')[i].style.display='none';
			}
			document.getElementById('confirm').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('submit').style.display = 'block';
			document.getElementById('review').style.display = 'block';
			document.getElementById('review').innerHTML = review;
			
		}

		function editRequest(){
			var formField = document.getElementById('formField');
			for(var i = 0; i < 3; i++){
				document.getElementsByClassName('formItem')[i].style.display='block';
			}
			document.getElementById('confirm').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('submit').style.display = 'none';
			document.getElementById('review').style.display = 'none';
		}

		function submitRequest() {
			// convert dates plz
			var today = new Date();
			var startDate = new Date();
			var endDate = new Date();
			startDate.setHours(start.substring(0,2));
			startDate.setMinutes(start.substring(3,5));
			startDate.setSeconds(0);
			if (today - startDate > 0) {
				startDate.setDate(startDate.getDate() + 1);
			}
			endDate.setHours(end.substring(0,2));
			endDate.setMinutes(end.substring(3,5));
			endDate.setSeconds(0);
			if (today - endDate > 0) {
				endDate.setDate(endDate.getDate() + 1);
			}
			var peer = new Peer({ key: 'gui749ntif1rlik9' });
			peer.on('open', function(id) {
				var postData = {
					'peerId': id,
					'earliestWakeTime': startDate,
					'latestWakeTime': endDate,
					'hall': hall,
					'wing': wing,
					'name': name,
					'message': request
				};
				$.post('/request/new', postData)
					.done(function() {
						var formField = document.getElementById('formField');
						formField.innerHTML = '';
						formField.innerHTML += '<img src="logo/caspa1.png" id="tallLogo">';
						formField.innerHTML += '<h1>Your request has been submitted... sleep well!</h1>';

						// Wait for calls
						navigator.webkitGetUserMedia({ audio: true }, function(localMediaStream) {
							// Receive calls
							peer.on('call', function(call) {
								call.answer(localMediaStream);
								call.on('stream', function(remoteMediaStream) {
									var audio = document.querySelector('audio');
									audio.src = window.URL.createObjectURL(remoteMediaStream);
								});
							});
						},
						function(e) {
							console.log('Error:', e);
						});
					})
					.fail(function(error) {
						console.log(error);
						alert('error! see console');
					});
				});
		}

	</script>

<button onclick="confirmRequest();" id="confirm">Confirm</button>

<button onclick="editRequest();" id="edit" style="display: none; background: #c12c06;">Edit</button>
<button onclick="submitRequest();" id="submit" style="display: none; background: #8cc727;">Submit</button>

<button onclick='loadView("main")'>Go Back</button>
