<h2>This is the request view</h2>

<button onclick='signup()'>SIGN UP</button>

<button onclick='loadView("main")'>Go back</button>

<script>
	function signup() {
		var postData = {
			'earliestWakeTime': new Date().getTime() + 60*60*1000,
			'latestWakeTime': new Date().getTime() + 2*60*60*1000,
			'hall': '1505',
			'wing': 'B',
			'name': 'Vinesh Kannan',
			'message': 'u want sum fuk bby'
		};
		$.post('/request/new', postData)
			.done(function() {
				alert('success');
			})
			.fail(function(error) {
				console.log(error);
				alert('error! see console');
			});
	}
</script>