<style>

	div.person{
		width: 280px;
		height: 50px;
		background: #dddddd;
		margin: 5px 10px;
		padding: 5px;
		border-radius: 10px;
		transition: margin-left 0.5s;
	}

		div.person:hover{
			background: #78aded;
			margin-left: 20px;
		}

		img.icon{
			width: 50px;
			height: 50px;
			float: left;
		}

	h2.name{
		font-family: "Regan Slab", Fallback, "Verdana";
		font-size: 20px;
		width: 210px;
		height: 30px;
		line-height: 25px;
		margin: 0 10px;
		float: left;
		text-overflow: ellipsis;
	}

	p.time{
		font-family: "Verdana";
		font-size: 15px;
		width: 210px;
		height: 20px;
		line-height: 20px;
		margin: 0 10px;
		float: left;
		text-overflow: ellipsis;
	}

</style>

<h1>Select a Classmate to Awaken</h1>

	<script>

		var tray = document.getElementById('tray');

		var animals = ["armadillo","bat","hippo","sloth","koala","panda","squirrel"];

		function toWord(string){
			var word = string.charAt(0).toUpperCase() + string.substr(1);
			return word;
		}

		function addPerson(hall, time, peerid){

			var index = Math.floor(Math.random() * (animals.length));

			var code = Math.floor(Math.random() * (9999 - 1000)) + 1000;
			var person = '';
				person += '<div class="person" onclick="connect(\"' + peerid + '\"")">'
					person += '<img class="icon" src="icon/' + animals[index] + '.png">'
					person += '<h2 class="name">' + toWord(animals[index]) + ' ' + code + ' (' + hall + ')</h2>'
					person += '<p class="time">' + time + '</p>'
				person += '</div>'

			tray.innerHTML += person;
		}

		function formatAMPM(date) {
			var hours = date.getHours();
		 	var minutes = date.getMinutes();
			var ampm = hours >= 12 ? 'pm' : 'am';
			hours = hours % 12;
			hours = hours ? hours : 12; // the hour '0' should be '12'
			minutes = minutes < 10 ? '0'+minutes : minutes;
			var strTime = hours + ':' + minutes + ' ' + ampm;
			return strTime;
		}

		function connect(peerid) {
			var peer = new Peer({ key: 'gui749ntif1rlik9' });
			
			navigator.webkitGetUserMedia({ audio: true }, function(localMediaStream) {
				// Place a call
				var remoteId = peerid;
				if (remoteId != '') {
					var call = peer.call(remoteId, localMediaStream);
					call.on('stream', function(remoteMediaStream) {
						var audio = document.querySelector('audio');
						audio.src = window.URL.createObjectURL(remoteMediaStream);
					});
				}
			},
			function(e) {
				console.log('Error:', e);
			});
		}

		$(function() {
			$.get('/request/available')
				.done(function(data) {
					data.forEach(function(classmate) {
						var startTime = formatAMPM(new Date(classmate.earliestWakeTime));
						var endTime = formatAMPM(new Date(classmate.latestWakeTime));
						var dateString = startTime + ' to ' + endTime;
						addPerson(classmate.hall, dateString, classmate.peerId);
					});
				})
				.fail(function(error) {
					console.log(error);
					alert('Error! see console');
				});
		});

		$('.person').click(function() {
			console.log($(this));
		});

		// addPerson("1505","7:30 AM to 8:00 AM");
		// addPerson("1506","6:30 AM to 8:30 AM");
		// addPerson("1505","7:30 AM to 8:00 AM");
		// addPerson("1506","6:30 AM to 8:30 AM");
		// addPerson("1505","7:30 AM to 8:00 AM", '123');
		// addPerson("1506","6:30 AM to 8:30 AM", '456');

	</script>

	<div id="tray">

	</div>

	<audio autoplay></audio>

<button onclick='loadView("main")'>Go Back</button>
